{% extends 'base.html' %}
{% load static %}
 {% block title %} Interion Shop {% endblock %} 
 
{% block content %}
<section class="hero">
    <div class="hero__content site-padding">
        <h2 class="title big-title">Contact Us</h2>
    </div>
</section>
<!-- hero -->


<section class="location site-padding">
    <div class="location__card">
        <div class="location__icon">&#xe804</div>
        <h2 class="title small-title">CALIFORNIA</h2>
        <p class="details details_centered">
            <b>Phone:</b>
            <br>
            <strong>1900 - 1234 - 5678</strong>
        </p>
        <p class="details details_centered">
            <b>Email:</b>
            <br>
            <strong>info@interior.com</strong>
        </p>
        <p class="details details_centered">
            <b>Address:</b>
            <br> 12 W 1st St, 90001 Los Angeles, California
        </p>
    </div>
    <div class="location__card">
        <div class="location__icon">&#xe804</div>
        <h2 class="title small-title">CALIFORNIA</h2>
        <p class="details details_centered">
            <b>Phone:</b>
            <br>
            <strong>1900 - 1234 - 5678</strong>
        </p>
        <p class="details details_centered">
            <b>Email:</b>
            <br>
            <strong>info@interior.com</strong>
        </p>
        <p class="details details_centered">
            <b>Address:</b>
            <br> 12 W 1st St, 90001 Los Angeles, California
        </p>
    </div>
    <div class="location__card">
        <div class="location__icon">&#xe804</div>
        <h2 class="title small-title">CALIFORNIA</h2>
        <p class="details details_centered">
            <b>Phone:</b>
            <br>
            <strong>1900 - 1234 - 5678</strong>
        </p>
        <p class="details details_centered">
            <b>Email:</b>
            <br>
            <strong>info@interior.com</strong>
        </p>
        <p class="details details_centered">
            <b>Address:</b>
            <br> 12 W 1st St, 90001 Los Angeles, California
        </p>
    </div>
</section>
{% endblock content %}