{% extends 'base.html' %}
{% load static %}

{% block title %}
Interion Shop
{% endblock %}

{% block content %}
        
        <section class="product-details">
            <div class="product-details__row site-padding">
                <div class="product-slider">
                    <a href="#" class="product-slider__link">
                        <img src="{{ product.image.url }}" alt="product photo" class="product-slider__img">
                    </a>
                    
                </div>
                <div class="product-details__details">
                    <h2 class="title mid-title">{{ product.name }}</h2>
                    <h3 class="tag tag-red">Hot Deal</h3>
                    <p class="price">$ <span class="price__val">{{ product.price }}</span></p>
                    <a href="#" class="btn btn-buy">Order us</a>
                    <p class="details">{{ product.description|linebreaksbr }}</p>
                </div>
            </div>
        </section>
        
        <section class="trending">
            <div class="trending__title-row  site-padding">
                <div class="title mid-title">Related products</div>
                <a href="{% url 'shop:products' %}" class="btn btn-ghost">explore all</a>
            </div>
            <div class="trending__products">
                {% for prod in related %}
                {% include 'mainapp/components/card.html' with prod=prod card_class='featured-card_big' %}
                {% endfor %}
            </div>
        </section> <!-- trending-product -->
        
{% endblock %}