{% extends 'base.html' %}
{% load static %}

{% block title %}
Interion Shop
{% endblock %}

{% block content %}

<section class="slider ">
    <div class="slider__item card">
        <img class="card__img" src="{% static 'img/slider-img.jpg' %}" alt="slide 1">
        <div class="card__content card__content_wide slider__content_top-offset">
            <h3 class="tag tag-green">TRENDING</h3>
            <h2 class="title big-title">FISHNET CHAIR</h2>
            <p class="details">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
            <a href="{% url 'shop:products'  %}"class="btn">Order us</a>
        </div>
    </div>
    <div class="slider__navigation">
        <a href="#" class="slider__circle"></a>
        <a href="#" class="slider__circle slider__circle_active"></a>
        <a href="#" class="slider__circle"></a>
    </div>
</section> <!-- slider -->


<section class="featured">
    <div class="featured__top site-padding">
        <ul class="tab-controll">
            <li><a href="#" class="tab-controll__link tab-controll__link_active">Featured</a></li>
            <li><a href="#" class="tab-controll__link">New</a></li>
        </ul>
        <a href="{% url 'shop:products' %}" class="btn btn-ghost">Explore all</a>
        
    </div>
    <div class="featured__content">
        {% for prod in featured %}
        {% include 'mainapp/components/card.html' with prod=prod %}
        {% endfor %}
    </div>
</section> <!-- featured -->



<section class="trending">
    <div class="trending__title-row  site-padding">
        <div class="title mid-title">Trending products</div>
        <a href="{% url 'shop:products' %}"class="btn btn-ghost">explore all</a>
    </div>
    <div class="trending__products">
        {% for prod in trending %}
        {% include 'mainapp/components/card.html' with prod=prod card_class='featured-card_big' %}
        {% endfor %}
    </div>
</section> <!-- trending-product -->


<section class="mobile-app">
    <div class="card">
        <img src="{% static 'img/back-img.jpg' %}" alt="" class="card__img">
        <div class="card__content card__content_wide">
            <h3 class="tag">mobile app</h3>
            <h2 class="title big-title">FIND. FOLLOW. FAVORITE.</h2>
            <p class="details details_bigger">Save your favorites and share your style.</p>
            <p class="details">
                <a href="#" class="app-link"><img class="app-link__img" src="{% static 'img/app-store.png' %}" alt="App Store"></a>
                <a href="#" class="app-link"><img class="app-link__img" src="{% static 'img/google-play.png' %}" alt="Google Play"></a>
            </p>
        </div>
    </div>
</section> <!-- mobile-app -->

{% endblock content %}