{% extends 'base.html' %}
{% load static %}

{% block title %}
Interion Shop
{% endblock %}

{% block content %}
            <section class="hero">
                <div class="hero__content site-padding">
                    <h2 class="title big-title">Our Products Range</h2>
                </div>
            </section> <!-- hero -->
            
        
        <section class="featured">
            <div class="featured__top site-padding">
                <ul class="tab-controll tab-controll_small">
                    <li><a href="#" class="tab-controll__link tab-controll__link_active">All</a></li>
                    <li><a href="#" class="tab-controll__link">Home</a></li>
                    <li><a href="#" class="tab-controll__link">Office</a></li>
                    <li><a href="#" class="tab-controll__link">Furniture</a></li>
                    <li><a href="#" class="tab-controll__link">Modern</a></li>
                    <li><a href="#" class="tab-controll__link">Classic</a></li>
                </ul>
                <a href="#" class="btn btn-ghost">Explore all</a>
            </div>
            <div class="featured__content">
                {% for prod in products %}
                {% include 'mainapp/components/card.html' with prod=prod card_class='featured-card_big' %}
                {% endfor %}
            </div>
            <div class="featured__content">
                <a class="btn btn-load">Load</a>
            </div>
        </section> <!-- featured -->
        
        <section class="promo">
            <div class="promo__item card">
                <img src="{% static 'img/promo-img1.jpg' %}" alt="promo product 1" class="card__img">
                <div class="card__content">
                    <h3 class="tag tag-blue">Exclusive</h3>
                    <h2 class="title mid-title">Fishnet chair</h2>
                    <p class="details">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
                    <a href="{% url 'shop:details' %}" class="btn">order us</a>
                </div>
            </div>
            <div class="promo__item card">
                <img src="{% static 'img/promo-img.jpg' %}" alt="promo product 2" class="card__img">
                <div class="card__content">
                    <h3 class="tag tag-blue">Exclusive</h3>
                    <h2 class="title mid-title">Fishnet chair</h2>
                    <p class="details">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
                    <a href="{% url 'shop:details' %}" class="btn">order us</a>
                </div>
            </div>
        </section> <!-- promo-product -->
{% endblock %} 