{% extends 'base.html' %}

{% block title %}Account Activation{% endblock %}

{% block content %}
<div class="hero">
    <div class="hero__content site-padding">
        <h2 class="title big-title">Account Activation</h2>
    </div>
</div>
<div class="form-card site-padding">
    <div class="form-card__content">
        <div>
            <h2 class="title mid-title">Email Sent</h2>
            <h3 class="tag tag-green">For activate your account check your emails.</h3>
        </div>
    </div>
</div>

{% endblock %}