{% extends 'base.html' %}

{% block title %}Create an account{% endblock %}

{% block content %}
<div class="hero">
    <div class="hero__content site-padding">
        <h2 class="title big-title">Create an account</h2>
    </div>
</div>
<div class="form-card site-padding">
    <div class="form-card__content">
        <form action="{% url 'account:register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="hidden" name="next" value="{{ next }}">
            <button type="submit" class="btn btn-submit">Create my account</button>
            <p class="details details_bigger details_centered">If you have an account <a href="{% url 'account:login' %}" class="btn btn-ghost">log in here</a></p>
        </form>

    </div>
</div>

{% endblock %}