<div class="footer__row">
    <div class="footer__contact">
        <h3 class="footer__header">Contact Us</h3>
        <p class="footer__text">
            132A Bridge Road Richmond VIC
            <br> Australia.
            <br>
        </p>
        <p class="footer__text">
            Talk to us on 1300 132
            <br> info@interior.com
        </p>
    </div>
    <div class="footer__info">
        <h3 class="footer__header">Useful Information</h3>
        <ul class="footer__list">
            <li>
                <a href="#" class="footer__link">Sales terms</a>
            </li>
            <li>
                <a href="#" class="footer__link">Customer care</a>
            </li>
            <li>
                <a href="#" class="footer__link">Delivery</a>
            </li>
            <li>
                <a href="#" class="footer__link">Architect accounts</a>
            </li>
            <li>
                <a href="#" class="footer__link">Careers</a>
            </li>
            <li>
                <a href="#" class="footer__link">Exchanges & returns</a>
            </li>
        </ul>
    </div>
    <div class="footer__subscribe">
        <h3 class="footer__header">Let's stay in touch!</h3>
        <p class="footer__text">
            Suscribe to know about our latest news, products and special offers just for suscribers.
        </p>
        <form class="footer__form">
            <input type="text" class="footer__email-input" placeholder="your email address">
            <button type="submit" class="footer__submit">&#xe800;</button>
        </form>
    </div>
</div>
<div class="footer__row">
    <div class="footer__col">© Copyright - INTERIOR 2016. All Rights Reserved.</div>
    <div class="footer__col footer__social">
        <a href="#" class="social-link">&#xf30d;</a>
        <a href="#" class="social-link">&#xf30a;</a>
        <a href="#" class="social-link">&#xf310;</a>
        <a href="#" class="social-link">&#xf313;</a>
    </div>
    <div class="footer__col">
        <a href="#" class="footer__link footer__link_sm">Terms & Conditions</a> /
        <a href="#" class="footer__link footer__link_sm">Privacy policy & Cookies</a>
    </div>
</div>