{% load static %}
<a href="{% url 'shop:index' %}" class="logo">
    <img src="{% static 'img/logo.svg' %}" alt="logo">
</a>
<nav class="menu">
    <ul class="menu__list">
        <li>
            <a href="{% url 'shop:index' %}" class="menu__link
            {% if request.resolver_match.view_name == 'shop:index' %}menu__link_active{% endif %}">
                Home
            </a>
        </li>
        <li>
            <a href="{% url 'shop:products' %}" class="menu__link
        {% if request.resolver_match.view_name == 'shop:products' %}menu__link_active{% endif %}">
                Products
            </a>
        </li>
        <li>
            <a href="{% url 'shop:contacts' %}" class="menu__link
    {% if request.resolver_match.view_name == 'shop:contacts' %}menu__link_active{% endif %}">
                Contact
            </a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'account:update_profile' %}" class="menu__link">{{ user }}</a>
        </li>
        <li>
            <a href="{% url 'account:logout' %}" class="menu__link">Logout</a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'account:login' %}" class="menu__link">Login</a>
        </li>
        {% endif %}
        <li>
            <a href="#" class="menu__link">
                <img src="{% static 'img/search.svg' %}" alt="search" title="Search">
            </a>
        </li>
        <li>
            <a href="{% url 'cart:cart_details' %}" class="menu__link">
                Cart: 
                <span class="cart_quantity">{{ cart.0.get_total_quantity|default:0 }}</span>
                -
                $<span class="cart_price">{{ cart.0.get_total_price|default:0 }}</span>
            </a>
        </li>
    </ul>
</nav>